In [1]:
import pandas as pd

In [4]:
df = pd.read_excel("Movies_Dataset.xlsx")
print(df)

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
4       Movie 5     Action          2012          6.6  1205.51
..          ...        ...           ...          ...      ...
995   Movie 996     Sci-Fi          2013          8.7   456.39
996   Movie 997  Adventure          1993          6.2  1255.27
997   Movie 998    Fantasy          2016          8.1  1161.96
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[1000 rows x 5 columns]

In [6]:
action_movies = df[df['Genre'] == 'Action']
print(action_movies)

    Movie Name   Genre  Release_Year  IMDb_Rating  Revenue
4      Movie 5  Action          2012          6.6  1205.51
34    Movie 35  Action          2009          8.7   545.60
64    Movie 65  Action          2023          7.7  1137.79
65    Movie 66  Action          1999          3.1  1335.85
73    Movie 74  Action          2001          4.1   350.80
..         ...     ...           ...          ...      ...
930  Movie 931  Action          1994          8.6  1863.66
944  Movie 945  Action          2004          7.5  1709.81
980  Movie 981  Action          2022          5.2    28.40
988  Movie 989  Action          2023          4.1   231.67
998  Movie 999  Action          1996          8.9   941.67

[104 rows x 5 columns]

In [8]:
movies_after_2000 = df[df['Release_Year'] > 2000]
print(movies_after_2000)

    Movie Name     Genre  Release_Year  IMDb_Rating  Revenue
2      Movie 3   Romance          2002          5.2  1122.13
3      Movie 4   Romance          2001          4.5   581.84
4      Movie 5    Action          2012          6.6  1205.51
6      Movie 7   Mystery          2021          5.1  1683.99
7      Movie 8    Comedy          2005          4.0  1062.13
..         ...       ...           ...          ...      ...
988  Movie 989    Action          2023          4.1   231.67
989  Movie 990   Fantasy          2004          1.6  1056.58
991  Movie 992  Thriller          2004          9.2   251.25
995  Movie 996    Sci-Fi          2013          8.7   456.39
997  Movie 998   Fantasy          2016          8.1  1161.96

[518 rows x 5 columns]

In [10]:
high_rated_movies = df[df['IMDb_Rating'] > 8.5]
print(high_rated_movies)

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
34     Movie 35     Action          2009          8.7   545.60
51     Movie 52    Mystery          1998          9.0  1089.93
56     Movie 57     Comedy          1993          9.2  1586.13
74     Movie 75  Adventure          1999          8.6  1688.49
81     Movie 82    Mystery          1997          8.6  1238.32
..          ...        ...           ...          ...      ...
991   Movie 992   Thriller          2004          9.2   251.25
992   Movie 993     Horror          1985          9.6   951.23
995   Movie 996     Sci-Fi          2013          8.7   456.39
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[148 rows x 5 columns]

In [12]:
action_movies = df[['Movie Name','Genre']]
print(action_movies)

     Movie Name      Genre
0       Movie 1     Sci-Fi
1       Movie 2  Adventure
2       Movie 3    Romance
3       Movie 4    Romance
4       Movie 5     Action
..          ...        ...
995   Movie 996     Sci-Fi
996   Movie 997  Adventure
997   Movie 998    Fantasy
998   Movie 999     Action
999  Movie 1000     Horror

[1000 rows x 2 columns]

In [14]:
movies_between_years = df[(df['Release_Year'] >= 1990) & (df['Release_Year'] <= 2010)]
print(movies_between_years)

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
5       Movie 6    Fantasy          1997          2.4   485.22
..          ...        ...           ...          ...      ...
991   Movie 992   Thriller          2004          9.2   251.25
994   Movie 995     Sci-Fi          1997          2.0   342.98
996   Movie 997  Adventure          1993          6.2  1255.27
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[500 rows x 5 columns]

In [16]:
genre_counts = df['Genre'].value_counts()
print(genre_counts)

Genre
Drama        113
Comedy       110
Fantasy      107
Thriller     107
Action       104
Adventure     96
Sci-Fi        93
Romance       91
Horror        90
Mystery       89
Name: count, dtype: int64

In [18]:
highest_rated_movie = df.loc[df['IMDb_Rating'].idxmax()]
print(highest_rated_movie)

Movie Name      Movie 107
Genre             Romance
Release_Year         2007
IMDb_Rating          10.0
Revenue           1837.45
Name: 106, dtype: object

In [20]:
average_rating = df['IMDb_Rating'].mean()
print(average_rating)

5.458600000000001

In [22]:
total_box_office = df['Revenue'].sum()
print(total_box_office)

1049716.26

In [24]:
total_box_office = df[df['Revenue']>500]
print(total_box_office)

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
4       Movie 5     Action          2012          6.6  1205.51
..          ...        ...           ...          ...      ...
993   Movie 994  Adventure          1989          7.3  1273.65
996   Movie 997  Adventure          1993          6.2  1255.27
997   Movie 998    Fantasy          2016          8.1  1161.96
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[774 rows x 5 columns]

In [26]:
df['Rank'] = df['IMDb_Rating'].rank(ascending=False)
print(df[['Movie Name', 'IMDb_Rating', 'Rank']])

     Movie Name  IMDb_Rating   Rank
0       Movie 1          6.0  432.5
1       Movie 2          2.2  869.0
2       Movie 3          5.2  529.5
3       Movie 4          4.5  609.5
4       Movie 5          6.6  353.5
..          ...          ...    ...
995   Movie 996          8.7  131.5
996   Movie 997          6.2  406.5
997   Movie 998          8.1  199.5
998   Movie 999          8.9  104.5
999  Movie 1000          9.4   54.0

[1000 rows x 3 columns]

In [28]:
sorted_movies = df.sort_values(by='Release_Year', ascending=False)
print(sorted_movies)

    Movie Name      Genre  Release_Year  IMDb_Rating  Revenue   Rank
320  Movie 321    Romance          2024          4.2   477.47  650.5
211  Movie 212     Comedy          2024          1.5   837.32  957.0
489  Movie 490   Thriller          2024          3.2  1536.79  765.5
808  Movie 809     Action          2024          6.0   714.96  432.5
917  Movie 918     Horror          2024          1.1  1042.80  991.0
..         ...        ...           ...          ...      ...    ...
509  Movie 510    Fantasy          1980          6.3  1260.11  392.0
798  Movie 799      Drama          1980          3.1  1587.13  774.0
496  Movie 497    Fantasy          1980          4.7  1683.97  588.0
794  Movie 795  Adventure          1980          4.5  1346.01  609.5
170  Movie 171    Mystery          1980          4.6  1684.78  599.0

[1000 rows x 6 columns]

In [30]:
duplicate_movies = df[df['Movie Name'].duplicated()]
print(duplicate_movies)

   Movie Name      Genre  Release_Year  IMDb_Rating  Revenue   Rank
12   Movie 10      Drama          1996          3.2  1352.66  765.5
13   Movie 11    Mystery          2003          6.3   596.43  392.0
14   Movie 12     Sci-Fi          1988          3.0  1134.01  786.5
20   Movie 16     Comedy          2006          2.3  1322.79  856.0
21   Movie 17     Horror          2007          6.2  1114.31  406.5
22   Movie 18  Adventure          1998          7.9  1426.73  221.0
23   Movie 19     Comedy          1986          6.0  1783.44  432.5
24   Movie 20    Fantasy          1982          6.9  1598.08  329.0

In [32]:
df.drop_duplicates(subset=['Movie Name'], inplace=True)
print(df)

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue   Rank
0       Movie 1     Sci-Fi          2000          6.0  1680.53  432.5
1       Movie 2  Adventure          2000          2.2   987.24  869.0
2       Movie 3    Romance          2002          5.2  1122.13  529.5
3       Movie 4    Romance          2001          4.5   581.84  609.5
4       Movie 5     Action          2012          6.6  1205.51  353.5
..          ...        ...           ...          ...      ...    ...
995   Movie 996     Sci-Fi          2013          8.7   456.39  131.5
996   Movie 997  Adventure          1993          6.2  1255.27  406.5
997   Movie 998    Fantasy          2016          8.1  1161.96  199.5
998   Movie 999     Action          1996          8.9   941.67  104.5
999  Movie 1000     Horror          1995          9.4  1390.70   54.0

[992 rows x 6 columns]

In [34]:
df['Genre'] = df['Genre'].replace('Sci-Fi', 'Science Fiction')
print(df)

     Movie Name            Genre  Release_Year  IMDb_Rating  Revenue   Rank
0       Movie 1  Science Fiction          2000          6.0  1680.53  432.5
1       Movie 2        Adventure          2000          2.2   987.24  869.0
2       Movie 3          Romance          2002          5.2  1122.13  529.5
3       Movie 4          Romance          2001          4.5   581.84  609.5
4       Movie 5           Action          2012          6.6  1205.51  353.5
..          ...              ...           ...          ...      ...    ...
995   Movie 996  Science Fiction          2013          8.7   456.39  131.5
996   Movie 997        Adventure          1993          6.2  1255.27  406.5
997   Movie 998          Fantasy          2016          8.1  1161.96  199.5
998   Movie 999           Action          1996          8.9   941.67  104.5
999  Movie 1000           Horror          1995          9.4  1390.70   54.0

[992 rows x 6 columns]

In [36]:
first_10_movies = df.head(10)
print(first_10_movies)

  Movie Name            Genre  Release_Year  IMDb_Rating  Revenue   Rank
0    Movie 1  Science Fiction          2000          6.0  1680.53  432.5
1    Movie 2        Adventure          2000          2.2   987.24  869.0
2    Movie 3          Romance          2002          5.2  1122.13  529.5
3    Movie 4          Romance          2001          4.5   581.84  609.5
4    Movie 5           Action          2012          6.6  1205.51  353.5
5    Movie 6          Fantasy          1997          2.4   485.22  844.5
6    Movie 7          Mystery          2021          5.1  1683.99  545.5
7    Movie 8           Comedy          2005          4.0  1062.13  672.5
8    Movie 9           Horror          1992          2.8  1592.74  815.0
9   Movie 10            Drama          1996          3.2  1352.66  765.5

In [38]:
last_5_movies = df.tail(5)
print(last_5_movies)

     Movie Name            Genre  Release_Year  IMDb_Rating  Revenue   Rank
995   Movie 996  Science Fiction          2013          8.7   456.39  131.5
996   Movie 997        Adventure          1993          6.2  1255.27  406.5
997   Movie 998          Fantasy          2016          8.1  1161.96  199.5
998   Movie 999           Action          1996          8.9   941.67  104.5
999  Movie 1000           Horror          1995          9.4  1390.70   54.0

In [40]:
average_rating_by_genre = df.groupby('Genre')['IMDb_Rating'].mean()
print(average_rating_by_genre)

Genre
Action             5.670192
Adventure          4.982105
Comedy             5.466667
Drama              5.191071
Fantasy            5.183962
Horror             5.810112
Mystery            5.772727
Romance            5.938462
Science Fiction    5.471739
Thriller           5.267290
Name: IMDb_Rating, dtype: float64

In [42]:
movies_per_year = df['Release_Year'].value_counts().sort_index()
print(movies_per_year)

Release_Year
1980    26
1981    17
1982    20
1983    16
1984    16
1985    28
1986    20
1987    17
1988    19
1989    30
1990    21
1991    21
1992    26
1993    21
1994    23
1995    27
1996    25
1997    22
1998    28
1999    25
2000    29
2001    23
2002    24
2003    24
2004    20
2005    21
2006    22
2007    28
2008    24
2009    21
2010    20
2011    23
2012    20
2013    26
2014    20
2015    23
2016    14
2017    18
2018    18
2019    15
2020    20
2021    16
2022    25
2023    18
2024    32
Name: count, dtype: int64

In [44]:
box_office_per_genre = df.groupby('Genre')['Revenue'].sum()
print(box_office_per_genre)

Genre
Action             111137.94
Adventure          102437.69
Comedy             119580.40
Drama              118958.66
Fantasy            108251.78
Horror              89281.21
Mystery             98236.50
Romance             94413.72
Science Fiction     84677.79
Thriller           112412.12
Name: Revenue, dtype: float64